{% extends 'base.html.twig' %}

{% block body %}
    <ul class="nav justify-content-center">
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('index') }}">Index</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('json_index') }}">JSON</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('route_annotation') }}">Annotation</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('route_annotation_param', {'firstName': 'Andrew'}) }}">Annotation param</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('route_annotation_twig') }}">Annotation twig</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('route_annotation_twig_second') }}">Second annotation twig</a></li>
        <li class="nav-item"><a class="nav-link" aria-current="page" href="{{ path('random_number') }}">Random</a></li>
    </ul>
{% endblock %}