<a href="{{ path('app_product') }}" class="btn btn-success btn-sm">Products main</a>
<a href="{{ path('app_product_list') }}" class="btn btn-success btn-sm">Porducts list</a>
<a href="{{ path('app_product_create') }}" class="btn btn-primary btn-sm">Add new</a>
<a href="{{ path('app_product_sales') }}" class="btn btn-info btn-sm">Sales</a></li>
<a href="{{ path('app_product_greater_qb') }}" class="btn btn-info btn-sm">Exclusive</a></li>