<h1>Wiadomość z formularza kontaktowego</h1>
<p><code>{{ email.to[0].address }}</code></p>
<p>Username: {{ name }}</p>
<p>Email: {{ emailAddress }}</p>
<p>Subject: {{ subject }}</p>
<p>Message: {{ message }}</p>